body {
    background: #f5d9df;
    font-family: 'Nunito Sans', sans-serif;
}

#mainNavbar {
    font-size: 1.25rem;
    font-weight: 100;
}
#mainNavbar .nav-link {
    color:white;
}

#mainNavbar .dropdown-toggle {
    color:white;
}

#mainNavbar .dropdown-toggle:hover {
    color: #ea1c2c;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
}

#headinggroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    opacity: .8;  
}

.nav-link {
    margin-left:2rem;
}

@media (max-width: 1200px) {
    #headinggroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
p {
    color: darkgrey;
    line-height: 1.75;
}
span {
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 2.25rem;
}
.content {
    padding: none;
}
footer { 
    display: block;
}

#dropdownItem {
    background-color: paleturquoise;
    opacity: .8;
    text-decoration: none;
}


