@font-face {
    font-family: 'the_scientistregular';
    src: url('thescientist-l3eyw-webfont.woff2') format('woff2'),
         url('thescientist-l3eyw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-size: 20px;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 50px;
    position: fixed;
    line-height: 60px;
    text-align: center;
    background-color: white;
    opacity: .8;
}

.nav div.logo{
    width: 250px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav div.logo a:hover {
    color: #bd5959;
    font-family: 'the_scientistregular';
    font-size: 2em;
}

.nav div.main_list{
    width: 300px;
    height: 50px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 50px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: black;
    line-height: 50px;
}

.nav div.main_list ul li a:hover{
    color: rgb(148, 54, 54);
    font-family: 'the_scientistregular';
    font-size: 2em;
}



/* Media query section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
}

.row {
    margin: 300px;
}

.row1 {
    display: flex;
    text-align: center;
    height:100vh;
    overflow:hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.row2 {
    display: flex;
    text-align: center;
    height:100vh;
    overflow:hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}


.onecolumn {
    flex: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.twocolumn {
    flex: 50%;
    padding:0;
    overflow: hidden;
    flex-wrap: wrap;
}

 
 
@media screen and ( max-width: 700px) {
    .row {
        flex-direction: column;
        height: 100%;  /*keeps all the text visible */
    }
    p {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
        padding-top: 40px;
    }
    #h1-text {
        font-size: 2em;
        justify-self: center;
    }
    #h2-text h2 {
        font-size: 1.5em;
        margin: 20px;
        padding: 10px;
        font-family: 'neue-haas-grotesk-display', sans-serif;
        text-align: center;
        justify-content: center;
    }
    #videoBG {
        display: none;
    }
    .main-vid {
        background: url('chateau de gudanes_600px.jpg');
        display: flex;
        background-repeat: none;
        background-position: center;
        background-size: cover;
    }
    .secondary-vid {
        font-size: 2em;
        text-shadow: 0 0 5px #d4b345, 0 0 10px #3910cf;
        width: 100%;
    }
    .special-text-p {
        font-size: 2em;
        font-weight: bold;
    }
}

@media screen and ( min-width: 700px) {
    #videoBG {
        width:100%;
        align-items: center;
        height: auto;
    }
    #main-header {
        font-size: 6em;
        text-shadow: 0 0 3px #d2d445, 0 0 10px #3910cf;
        text-align: center;
        justify-content: center;
    }
    .row {
        height: 100%;  /*keeps all the text visible */
    }
    img {
        border-radius: 0%;
    }
    .special-text-p{
        text-align: left;
        justify-content: left;
        font-size: 3em;
    }
    #h2-text h2 {
        font-size: 4em;
        margin: 30px;
        padding: 30px;
        font-family: 'neue-haas-grotesk-display', sans-serif;
        text-align: center;
        justify-content: center;
    }
}

@media screen and ( min-width: 1600px) {
    #videoBG {
        width:80%;
        align-items: center;
        height: auto;
    }
    #main-header {
        font-size: 6em;
    }
    p {
        font-size: 30px;
    }
    #h2-text {
        font-size: 6em;
        justify-self: center;
        margin: auto;
        color: gray;
    }
}

  
